UseTab: Never
IndentWidth: 4
Language: Cpp
DeriveLineEnding: false
UseCRLF: false
IncludeBlocks: Regroup
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Attach
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: NonAssignment
AlignConsecutiveAssignments: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
IndentCaseBlocks: false
IndentPPDirectives: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceBeforeCpp11BracedList: true
AllowAllArgumentsOnNextLine: true
PenaltyBreakAssignment: 100
PenaltyExcessCharacter: 1
SpaceBeforeParens: ControlStatementsExceptForEachMacros
AlignEscapedNewlines: DontAlign
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
StatementMacros: ["UNUSED"]
SpacesInContainerLiterals: true
SpaceInEmptyBlock: true
